.containerLog{
    background-color: white;
    height: 100vh;
    width: 100%;
}
.loginWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginWrapper > h1{
    color: black;
}
.label >p{
    color: black;
}