.navbar{
    padding: 2rem;
    height: 100px;
    background-color: #27352a;
}
.navbar >div{
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    align-items: center;
}
.Link >button{
    margin: 0px 10px;
    border-radius: 20px;
    border: 0px;
    padding: 1rem;
}
.navbar >div> p {
    font-size: 18px;
    color: white;
    font-weight: 600;
}