.article{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1vw;
        align-items: center;
        background-color: #fbfffc;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
      }
      .product{
        width: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #fbfffc;
      
      }
      .articleImg{
        width: 20vw;
        height: 20vw;
        background-color: blueviolet;
      }
    
      .productDescription{
        width: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fbfffc;
        font-size: 2vw;
      }
     
      .product button {
        width: 30px;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid #000;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 10px;
      }
      
      .product button:active,
      .product button:focus {
        outline: none;
      }
      
      .product button:hover {
        background-color: #eee;
      }
      