.card{
        height: 200px;
        width: 300px;
        box-shadow: 0px 16px 15px 9px rgba(0,0,0,0.1);
        border-radius: 20px;
        transition: all 0.5s ease-in-out;

}
.cardpage{
        display: flex;
        flex-direction: row;
        gap: 30px;
}
.cardimg{
        object-fit: cover;
}
#image{
        height: 200px;
        width: fit-content;
}
.cardcontent{
        display: flex;
        flex-direction: column;
        justify-content: space-around
}
.cardcontent > p,
.cardcontent > h3 {
        color: black;
}
.cardcontent > button {
        background-color: black;
        outline: none;
}
/* hover card qui s'aggandi au passage de la souris et a la sortis de la souris */
.card:hover{
        transform: scale(1.1);
}

