
.card{
        width:30vw;
        height: 15vw ;
}

.card__page{
        width:30vw;
        height: 15vw ;
        display: flex;
        flex-direction: row;
}

.card__img{
        width: 15vw;
        height: 15vw ;
        background-color: blueviolet;
}

#image{
        width: 15vw;
        height: 15vw ;
        position: relative;
        background-position: center; 
        background-size: cover;  
        
}

.card__content{
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        width: 10vw;
        height: 15vw ;
        color:black;
}

#card__title{
        font-size: large;
        font-weight: bold;

}

#card__text{
        font-size: small;
        
}

#card__price{
        font-size: small;
        font-weight: bold;
        color: red;
}
        
.card__button{
        width: 15vw;
        height: 15vw ;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}

.card__button{
        height: 15vw;
        width: 5vw;
}

#btn{
        
}