.panier{
    background-color:#fbfffc ;
    color: black;
    display: flex;
    flex-direction: row;
  }
  .article{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fbfffc;
  }
  .product{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fbfffc;
  }
  .articleImg{
    width: 20vw;
    height: 20vw;
    background-color: blueviolet;
  }

  .productDescription{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fbfffc;
  }
 
  .recap{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #759d7d;
  }



.Footer{
position: relative;;
bottom: 0;
width: 100%;
}
