.navbar{
    padding: 3rem;
    background-image: url('../public/man-593333.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.navbar >div{
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    align-items: center;

}
.navbar > div >div >button{
    margin: 0px 10px;
    border-radius: 20px;
    border: 0px;
    padding: 1rem;
}
.navbar > p {
    font-size: 18px;
}